:root {
    --primary-color: #B10D0D;
    --secondary-color: #070716;
}

@font-face {
    font-family: customItalicFont;
    src: url('/client/font/DENSO BOLD ITALIC.OTF');
}
@font-face {
    font-family: customFont;
    src: url('/client/font/ROBOTO-REGULAR.TTF');
}
/* *{
    border-radius: 0px !important;
} */

*{
    font-family: customFont;
}

.primary-color{
    color:var(--primary-color);
}
.secondary-color{
    color: var(--secondary-color);
}

.btn-main{
    background-color:var(--primary-color);
    padding: 10px 16px;
    border-radius: 30px !important;
    font-weight: bold;
    text-transform: uppercase;
    color: #f8f9fa;
    cursor: pointer;
    box-shadow: 0 0rem 1rem rgba(0,0,0,.25)!important;
}
.btn-main:hover{
    background-color:#860F0F;
    color: #fff;
}

/* NAV BAR */
    /* #navbar{
        transition: all 0.1s ease;
    } */
    #navbar.bg-main{
        background-color:var(--secondary-color);
    }
    #navbar .navbar-brand img{
        height: 50px;
    }
    #navbar.navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    #navbar.navbar-dark .navbar-toggler{
        border: none;
        padding: 0px;
    }
    #navbar.navbar-dark .navbar-toggler:focus{
        outline: none;
    }
    #navbar .nav-item .nav-link{
        padding: 0px;
        margin-right:20px;
        margin-left: 20px;
        font-weight: bold;
    }
    #navbar.navbar-dark .navbar-nav .nav-link.active{
        border-bottom: 2px solid #fff;
    }
/* END NAV BAR */

/* BANNER */
    #homepage .carousel-inner .carousel-item{
        width:100%;
        height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative;
    }

    #homepage .carousel-inner .carousel-item .overlay{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(3, 6, 43, 0.7);
    }

    #homepage .carousel-inner .carousel-item .carousel-caption{
        bottom: 20%;
    }
    #homepage .carousel-inner .carousel-item .carousel-caption .title h1{
        font-family: customItalicFont;
    }
    #homepage .carousel-inner .carousel-item .carousel-caption .description{
        color: white;
        opacity: .8;
    }

    #homepage .carousel-indicators li{
        border-radius: 50% !important;
        width: 7px;
        height: 7px;
        margin-right: 4px;
        margin-left: 4px;
        background-color: #eee
    }
    #homepage .carousel-indicators li.active{
        width: 11px;
        height: 11px;
        background-color: #fff;
        margin-top: -2px;
    }
/* END BANNER */

/* SECTION TITLE */
    #homepage .section-title{
        font-weight: 800;
        font-size: 40px;
        padding:20px;
        font-family: customItalicFont !important;
    }
/* SECTION TITLE */

/* ABOUT US */
    #homepage .about-us{
        width:100%;
        height: 650px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative;
    }
    #homepage .about-us .overlay{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(240, 240, 240, 0.9);
    }
    #homepage .about-us section .title{
        font-size: 24px;
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        color: var(--secondary-color);
        border-left: 4px solid var(--primary-color);
        padding-left: 10px;
        display: inline-block;
        line-height: 30px;
        letter-spacing: -1px;
        margin: 15px 0px;
    }
    #homepage .about-us section .description .sub-title{
        padding-bottom:10px;
    }
    #homepage .about-us section .description .sub-title .head{
        font-size: 18px;
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        color: var(--secondary-color);
        margin-left: 10px;
        letter-spacing: -1px;
    }
    #homepage .about-us .img img{
        width:250px;
        max-width: 100%;
    }
/* END ABOUT US */

/* SERVICES */
    #homepage .service{
        background-color: var(--secondary-color);
    }
    #homepage .service .item{
        margin-bottom: 20px;
    }
    #homepage .service .item .img img{
        width: 65px;
        padding-top:20px;
    }
    #homepage .service .item .title{
        color: rgba(255, 255, 255, 0.95);
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        margin: 10px 0px;
    }
    #homepage .service .item .description{
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        text-align: justify;
        line-height: 18px;
        padding-bottom: 20px;
    }
    #homepage .service .item:not(:last-child){
        border-right: 1px solid rgba(200, 200, 200, .6);
    }
/* END SERVICES */

/* PORTFOLIOS */
    #homepage .portfolio{
        padding-bottom: 30px;
    }
    #homepage .portfolio .nav-menu{
        border-bottom: 1px solid darkgray;
    }
    #homepage .portfolio .nav-portfolio{
        margin-bottom: -1px;
    }
    #homepage .portfolio .nav-portfolio .nav-link{
        font-weight: bold;
        color:var(--secondary-color);
        opacity: .6;
        padding:7px 0px;
        margin-right: 30px;
        font-size: 18px;
    }
    #homepage .portfolio .nav-portfolio .nav-link.active{
        opacity: 1;
        border-bottom: 3px solid var(--primary-color);
    }
    #homepage .portfolio .item-list{
        margin-right:-5px;
        margin-left: -5px;
    }
    #homepage .portfolio .item-list .item{
        padding:5px;
    }
    #homepage .portfolio .item-list .item .card{
        border: none;
    }
    #homepage .portfolio .item-list .item:hover .overlay{
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background: rgba(3, 0, 17, 0.8);
        transition: all 0.5s ease;
    }
    #homepage .portfolio .item-list .item:hover .overlay .title{
        display: block;
    }
    #homepage .portfolio .item .overlay .title{
        font-weight: bold;
        font-size: 24px;
        color: white;
        text-align: center;
        position: absolute;
        width: 100%;
        top: 40%;
        display: none;
    }
/* END PORTFOLIOS */

/* OUR TEAM */
    #homepage .our-team{
        background-color: var(--secondary-color);
        padding-bottom: 30px;
    }
    #homepage .our-team .col-lg-6{
        padding-right: 25px;
        padding-left: 25px;
        margin: 30px 0px;
    }
    #homepage .our-team .content{
        padding:0px 20px;
    }
    #homepage .our-team .item.left .img{
        float: left !important;
    }
    #homepage .our-team .item.right .img{
        float: right !important;
    }
    #homepage .our-team .item .img{
        position: relative;
        height: 160px;
        width: 160px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 10px;
    }
    #homepage .our-team .item.left .img{
        left: 5px;
    }
    #homepage .our-team .item.right .img{
        right: 5px;
    }
    #homepage .our-team .item.left .overlay{
        left: 20px;
    }
    #homepage .our-team .item.right .overlay{
        right: 20px;
    }
    #homepage .our-team .item .overlay{
        position: absolute;
        top: 0px;
        width: 180px;
        height: 180px;
        border: 1.5px solid rgba(199, 199, 199, 0.8);
        transform: rotate(-15deg)
    }
    #homepage .our-team .item.left .description{
        margin-left:210px;
        padding-top: 5px;
    }
    #homepage .our-team .item.right .description{
        margin-right:210px;
        padding-top: 5px;
    }
    #homepage .our-team .item .title{
        font-size: 28px;
        color: white;
        font-weight: bold;
        margin-bottom:7px;
    }
    #homepage .our-team .item .sub-title{
        font-size: 17px;
        color: var(--primary-color);
        font-weight: bold;
        margin-bottom:7px;
    }
    #homepage .our-team .item.left .title,
    #homepage .our-team .item.left .sub-title{
        text-align: left;
    }
    #homepage .our-team .item.right .title,
    #homepage .our-team .item.right .sub-title{
        text-align: right;
    }
    #homepage .our-team .item .text{
        font-size: 15px;
        color: white;
        opacity: .8;
        text-align: justify;
        line-height: 18px;
        padding-bottom: 7px;
        border-bottom: 1px solid rgba(199, 199, 199, 0.6);
    }
/* END OUR TEAM */

/* OUR PARTNER */
    #homepage .our-partner{
        width:100%;
        height: 350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative;
    }
    #homepage .our-partner .overlay{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(240, 240, 240, 0.9);
    }
    #homepage .our-partner .owl-carousel .owl-item img{
        margin: auto;
    }
/* END OUR PARTNER */

/* OUR CLIENT */
    #homepage .our-client{
        width:100%;
        height: 350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative;
    }
    #homepage .our-client .overlay{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(3, 6, 43, 0.9);
    }
    #homepage .our-client .owl-carousel .owl-item img{
        margin: auto;
    }
/* END OUR CLIENT */

/* BLOG */
    #homepage .blog {
        padding-bottom: 30px;
    }
    #homepage .blog .card{
        box-shadow: 0 0 2px rgba(0,0,0,.25)!important;
    }
    #homepage .blog .card .img{
        width:40%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative;
    }
    #homepage .blog .item .date{
        margin-bottom: 5px;
        color:#AAAAAA;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
    }
    #homepage .blog .item .title{
        color: var(--secondary-color);
        font-weight: bold;
        line-height: 19px;
        font-size: 18px;
        text-align: justify;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        display: -webkit-box;
    }
    #homepage .blog .item .description{
        line-height: 18px;
        color: #4D4C4C;
        text-align: justify;
        font-size: 15px;
        margin-bottom: 7px;
        height: 75px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;
        display: -webkit-box;
    }
    #homepage .blog .item .link{
        text-decoration: none;
        color: var(--primary-color);
        font-weight: bold;
        font-size: 14px;
    }
/* END BLOG */

/* CONTACT US */
    #homepage .contact-us{
        width:100%;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative;
    }
    #homepage .contact-us .overlay{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background:rgba(3, 6, 43, 0.9);;
    }
    #homepage .contact-us hr{
        border-top: 1px solid rgba(255,255,255,.2);
        margin: 0px;
    }
    #homepage .contact-us .contact{
        margin: 20px 0px;
    }
    #homepage .contact-us .contact .item{
        text-align: center;
        margin-bottom: 20px;
    }
    #homepage .contact-us .contact .item .img{
        padding: 10px;
    }
    #homepage .contact-us .contact .item .img img{
        width:50px;
    }
    #homepage .contact-us .contact .item .title{
        color: white;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
    }
    #homepage .contact-us .contact .item .description{
        color: whitesmoke;
        font-size: 16px;
    }
    #homepage .contact-us .social{
        text-align: center;
    }
    #homepage .contact-us .social .title{
        text-transform: uppercase;
        font-style: italic;
        font-size: 18px;
        font-weight: bold;
        color: lightgray;
    }
    #homepage .contact-us .social .group{
        margin-top: 20px;
    }
    #homepage .contact-us .social .img img{
        width: 40px;
        margin: 0px 20px;
    }
    #homepage .contact-us .footer .description{
        color: lightgray;
    }
/* END CONTACT US */

@media only screen and (min-width:992px) and (max-width:1199px){
    #homepage .about-us{
        height: 740px;
    }
    /* OUR TEAM */
        #homepage .our-team .item .img{
            height: 140px;
            width: 140px;
            top: 35px;
        }
        #homepage .our-team .item .overlay{
            width: 155px;
            height: 155px;
            top:25px;
        }
        #homepage .our-team .item.left .description {
            margin-left: 180px;
        }
        #homepage .our-team .item.right .description{
            margin-right: 180px;
        }
    /* END OUR TEAM */
}
@media only screen and (max-width:991px){
    /* NAVBAR */
        #navbar{
            padding-left:0px;
            padding-right: 0px;
        }
        #navbar .navbar-brand{
            padding-left: 30px;
        }
        #navbar.navbar-dark .navbar-toggler{
            margin-right: 30px;
        }
        #navbar .navbar-nav{
            margin-top:10px;
            margin-bottom: 15px;
            padding-top: 10px;
            border-top: 2px solid white;
        }
        #navbar .navbar-nav .nav-link{
            margin: 0px;
            padding: 10px 30px;
        }
        #navbar.navbar-dark .navbar-nav .nav-link.active{
            border: none;
            border-left: 4px solid var(--primary-color);
        }
    /* END NAVBAR */

    /* BANNER */
        #homepage .carousel-inner .carousel-item .carousel-caption{
            left: 10%;
            right: 10%;
            bottom: 15%;
        }
        #homepage .carousel-inner .carousel-item .carousel-caption .title h1{
            font-size: 50px;
        }
    /* END BANNER */

    /* ABOUT US */
        #homepage .about-us{
            height: 800px;
        }
        #homepage .about-us .img img{
            width:250px;
        }
    /* END ABOUT US */

    /* SERVICE */
        #homepage .service .item{
            border-right: none !important;
        }
    /* END SERVICE */

    /* OUR PARTNER & CLIENT */
        #homepage .our-partner,
        #homepage .our-client{
            height: 330px;
        }
    /* END OUR PARTNER */
}
@media only screen and (max-width:767px){
    /* BANNER */
        #homepage .carousel-inner .carousel-item .carousel-caption{
            bottom: 10%;
        }
    /* END BANNER */
    /* ABOUT US */
        #homepage .about-us{
            height: 980px;
        }
    /* END ABOUT US */

    /* CONTACT US */
        #homepage .contact-us{
            height: 680px;
        }
        #homepage .contact-us .contact{
            margin: 0px;
        }
        #homepage .contact-us .contact .item .img {
            padding: 5px;
        }
        #homepage .contact-us .contact .item .title {
            margin-bottom: 0px;
        }
        #homepage .contact-us .contact .item {
            margin-bottom: 25px;
        }
    /* END CONTACT US */

    /* OUR TEAM */
        #homepage .our-team .item .img{
            height: 140px;
            width: 140px;
            top: 30px;
        }
        #homepage .our-team .item .overlay{
            width: 155px;
            height: 155px;
            top:20px;
        }
        #homepage .our-team .item.left .description {
            margin-left: 180px;
        }
        #homepage .our-team .item.right .description{
            margin-right: 180px;
        }
    /* END OUR TEAM */
    /* OUR PARTNER & CLIENT */
        #homepage .our-partner,
        #homepage .our-client{
            height: 280px;
        }
    /* END OUR PARTNER */
}
@media only screen and (max-width:568px){
    /* SECTION TITLE */
        #homepage .section-title{
            font-weight: 800;
            font-size: 35px;
        }
    /* SECTION TITLE */
    /* BANNER */
        #homepage .carousel-inner .carousel-item .carousel-caption{
            left: 5%;
            right: 5%;
            bottom: 10%;
        }
        #homepage .carousel-inner .carousel-item .carousel-caption .title h1{
            font-size: 40px;
        }
    /* END BANNER */

    /* ABOUT US */
        #homepage .about-us{
            height: 930px;
        }
        #homepage .about-us .img img{
            width:200px;
        }
    /* END ABOUT US */

    /* OUR TEAM */
        #homepage .our-team .item .img {
            position: relative;
            top: 0px;
            left: 0px;
            margin: auto;
        }
        #homepage .our-team .item.left .img,
        #homepage .our-team .item.right .img{
            float: none !important;
        }
        #homepage .our-team .item.left .description{
            margin-left: 0px;
            margin-top: 15px;
        }
        #homepage .our-team .item.right .description{
            margin-right: 0px;
            margin-top: 15px;
        }
        #homepage .our-team .item.right .title, #homepage .our-team .item.right .sub-title,
        #homepage .our-team .item.left .title, #homepage .our-team .item.left .sub-title{
            text-align: center;
        }
        #homepage .our-team .item .overlay{
            position: inherit;
            top: 0px;
            left: 0px;
            margin: auto;
            margin-top: -150px;
        }
        #homepage .our-team .col-lg-6{
            margin: 30px 0px 10px 0px;
        }
    /* END OUR TEAM */

    /* OUR PARTNER & CLIENT */
        #homepage .our-partner,
        #homepage .our-client{
            height: 250px;
        }
    /* END OUR PARTNER */

    /* CONTACT US */
        #homepage .contact-us{
            height: 670px;
        }
    /* END CONTACT US */
}
@media only screen and (max-width:420px){
    /* BLOG */
        #homepage .blog .card .img{
            width:43%;
        }
        #homepage .blog .item .date{
            margin-bottom: 4px;
            font-size: 12px;
        }
        #homepage .blog .item .title{
            line-height: 16px;
            font-size: 16px;
            text-align: justify;
            height: 33px;
        }
        #homepage .blog .item .description{
            line-height: 16px;
            font-size: 13px;
            height: 50px;
            -webkit-line-clamp: 3;
            margin-bottom: 0px;
        }
        #homepage .blog .item .link{
            font-size: 12px;
        }
    /* END BLOG */
}
@media only screen and (max-width:376px){
    /* SECTION TITLE */
        #homepage .section-title{
            font-weight: 700;
            font-size: 30px;
        }
    /* SECTION TITLE */
    /* BANNER */
        #homepage .carousel-inner .carousel-item .carousel-caption{
            left: 5%;
            right: 5%;
            bottom: 7%;
        }
        #homepage .carousel-inner .carousel-item .carousel-caption .title h1{
            font-size: 35px;
        }
    /* END BANNER */

    /* ABOUT US */
        #homepage .about-us{
            height: 1060px;
        }
    /* END ABOUT US */
}

/* OWL CAROUSEL */
    .owl-stage{
        margin: 0 auto;
    }
    .owl-theme .owl-prev:focus,
    .owl-theme .owl-next:focus,
    .owl-theme .owl-dots .owl-dot:focus{
        outline: none;
    }
    .owl-theme .owl-dots .owl-dot span{
        border-radius: 50% !important;
        background-color: #656565;
        width: 7px;
        height: 7px;
    }
    .owl-theme .owl-dots .owl-dot.active span{
        background-color: #fff;
        width: 11px;
        height: 11px;
    }
    .owl-theme .owl-nav{
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    .owl-theme .owl-nav .owl-prev:hover,
    .owl-theme .owl-nav .owl-next:hover{
        background: none;
    }
    .owl-theme .owl-nav .owl-prev,
    .owl-theme .owl-nav .owl-next{
        position: absolute;
        top: 40%;
    }
    .owl-theme .owl-nav .owl-prev{
        left: -40px;
    }
    .owl-theme .owl-nav .owl-next{
        right: -40px;
    }
    .owl-theme .owl-nav .owl-prev i,
    .owl-theme .owl-nav .owl-next i{
        padding: 6px 14px;
        background: rgba(200, 200, 200, 0.2);
        border-radius: 50% !important;
        transition: all 0.5s ease;
    }
    .owl-theme .owl-nav .owl-prev i:hover,
    .owl-theme .owl-nav .owl-next i:hover{
        background: rgba(200, 200, 200, 0.5);
        transition: all 0.5s ease;
    }
/* END OWL CAROUSEL */

/* BUTTON SCROLL UP */
    #btnScrollUp{
        display:none;
        position: fixed;
        bottom: 10px;
        right: 10px;
        opacity:1;
    }
    #btnScrollUp:hover {
        opacity: 1;
        transition: all 0.5s ease;
    }
    #btnScrollUp button{
        background-color:rgba(177, 13, 13, 0.8);
        padding: 10px 15px;
        z-index: 11;
        border-radius: 50%;
    }
    #btnScrollUp button:hover{
        background-color:rgba(177, 13, 13, 1);
        padding: 10px 15px;
        z-index: 11;
        border-radius: 50%;

    }
    #btnScrollUp button i{
        color:white;
    }
/* END BUTTON SCROLL UP */
